html{
    background-color: #B9E5E8;
}

.container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}

header{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 1rem;
    align-items: center;
}

header div{
    font-size: 20px;
}

nav{
    font-weight: normal;
}

main{
    display: grid;
    gap: 1rem;
}

.img_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.img{
    min-height: 1rem;
}

.box_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.box{
    line-height: 4rem;
    text-align: center;
}

footer{
    line-height: 1px;
    text-align: center;
    font-weight: normal;
}